.carousel-image {
  height: 100vh;
  /* max-height: 1000px; */
  width: 100%;
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  animation: zoomIn 8.5s linear forwards;
}

/* .carousel-control-next:hover {
    background-color: rgba(255, 255, 255, 0.5)
} */

.carousel .carousel-control-next {
    color: aliceblue;
  background-color: rgba(255, 255, 255, 1) !important;
}

@keyframes zoomIn {
  0% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}